{% extends 'base.html.twig' %}

{% block title %} Réservation{% endblock %}

{% block body %}
    <h1>Réservez votre Evenement</h1>

    {{ include('reservation/_form.html.twig') }}

    
{% endblock %}
